/* starting fonts code */

@font-face {
  font-family: "Lucida Sans";
  src: url("./assets/fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: "SegoeWP";
  src: url("./assets/fonts/SegoeWP.woff");
}

@font-face {
  font-family: "SegoeWp Light";
  src: url("./assets/fonts/segoe-wp-light.ttf");
}

@font-face {
  font-family: "Asap-Regular";
  src: url("./assets/fonts/Asap-Regular.otf");
}

@font-face {
  font-family: "PTSans-Regular";
  src: url("./assets/fonts/PTS55F.ttf");
}

@font-face {
  font-family: "PTSans-NarrowBold";
  src: url("./assets/fonts/PTN77F.ttf");
}

@font-face {
  font-family: "openSans";
  src: url("./assets/fonts/OpenSans-Regular.ttf");
}

/* end of fonts code */

/* header block's styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html {
  /* 1rem = 16px, if font-size is 62.5%, 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100vw;
  min-width: 360px;
}

body::after {
  content: "";
  background-image: url("./assets/images/background.png");
  background-size: 100% 56.6rem;
  background-repeat: no-repeat;
  background-position: top;
  filter: opacity(0.9);
  filter: hue-rotate(5deg);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.container-main {
  position: relative;
  width: 100vw;
}

.container-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.8rem 18rem 2.8rem 18rem;
  width: 100vw;
}

.logo-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  left: 5vw;
}

.logo-container .logo {
  position: absolute;
}

.logo-container a img {
  width: 7.8rem;
  cursor: pointer;
}

.bg-logo img {
  animation: logo-spin 2s ease-in-out;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-container a h1 {
  font-family: "Lucida Sans";
  font-size: 4.105rem;
  color: #ffffff;
  line-height: 4.926rem;
  font-weight: 100;
  text-transform: uppercase;
  left: 8.5rem;
  top: 2rem;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
  position: absolute;
  cursor: pointer;
}

.navbar-list {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5c506;
  width: 44.3rem;
  top: 6rem;
  left: 50vw;
  padding: 0.1rem 3rem 0.1rem 3rem;
  box-shadow: -4px -4px 0px 2px rgba(245, 197, 5, 0.3),
    -9px -9px 0px 2px rgba(245, 197, 5, 0.3);
}

.navbar-list li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-list li img {
  margin-right: 0.7rem;
  cursor: pointer;
}

.navbar-list li img:hover {
  width: 3rem;
  transition: 0.2s ease-in-out;
}

.navbar-list li a {
  font-family: "SegoeWP";
  font-size: 1.705rem;
  line-height: 2.46rem;
  color: #9b7d08;
  text-transform: uppercase;
  margin-right: 0.9rem;
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
}

.navbar-list li a:hover {
  font-size: 2rem;
  transition: 0.2s ease-in-out;
}

.navbar-list li span {
  width: 0.1rem;
  height: 3rem;
  background-color: #000;
  opacity: 0.2;
  margin-left: 0.5rem;
}

.navbar-list li div {
  width: 0.13rem;
  height: 3rem;
  background-color: #000;
  opacity: 0.2;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* end of header styles */

/*make header responsive */
@media only screen and (max-width: 1301px) {
  .logo-container {
    left: 1vw;
  }
  .navbar-list {
    left: 45vw;
  }
}
@media only screen and (max-width: 1187px) {
  .logo-container {
    margin-top: 2rem;
    left: 5%;
  }
  .navbar-list {
    left: 55%;
  }
}

@media only screen and (max-width: 966px) {
  .logo-container {
    left: -20%;
  }
  .navbar-list {
    left: 40%;
  }
}

@media only screen and (max-width: 862px) {
  .container-header {
    margin: 2.8rem 15rem 2.8rem 10rem;
  }
  .logo-container {
    left: -8%;
  }
  .logo-container a img {
    width: 5rem;
  }
  .logo-container a h1 {
    font-size: 3rem;
    left: 5rem;
    top: 0.7rem;
  }
  .navbar-list {
    left: 50%;
    width: 35rem;
  }

  .navbar-list li a {
    font-size: 1rem;
  }
  .navbar-list li a:hover {
    font-size: 1.2rem;
    transition: 0.2s ease-in-out;
  }
}

@media only screen and (max-width: 666px) {
  body::after {
    background-image: none;
  }
  .container-header {
    width: 100%;
  }
  .logo-container {
    width: 30vw;
    height: 6.2rem;
    background-color: #707070;
    left: -10rem;
    top: -5rem;
    align-items: center;
  }

  .logo-container a img {
    width: 3.96rem;
    left: 50%;
  }
  .logo-container a h1 {
    font-size: 1.929rem;
  }
  .navbar-list {
    width: 75%;
    height: 6.2rem;
    box-shadow: none;
    left: 10%;
    top: -37%;
  }

  .navbar-list li a {
    font-size: 1.705rem;
  }

  .navbar-list li a:hover {
    font-size: 1.9rem;
    transition: 0.2s ease-in-out;
  }

  .navbar-list li a:hover {
    font-size: 1.9rem;
    transition: 0.2s ease-in-out;
  }

  .navbar-list li span,
  .navbar-list li div {
    height: 100%;
    width: 0.2rem;
    opacity: 0.1;
  }
}

@media only screen and (max-width: 573px) {
  .navbar-list li a {
    font-size: 1.2rem;
  }

  .navbar-list li a:hover {
    font-size: 1.3rem;
    transition: 0.2s ease-in-out;
  }

  .logo-container {
    width: 35%;
  }
}

@media only screen and (max-width: 500px) {
  .navbar-list {
    left: 10%;
  }
  .navbar-list li a {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 438px) {
  .navbar-list {
    right: 5%;
    left: 9%;
    width: 75vw;
  }
  .navbar-list li a {
    font-size: 0.7rem;
  }
  .navbar-list li a:hover {
    font-size: 0.9rem;
    transition: 0.2s ease-in-out;
  }

  .logo-container a h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 393px) {
  .logo-container a h1 {
    font-size: 1rem;
  }
  .navbar-list {
    left: 6%;
  }
  .navbar-list li a {
    font-size: 0.4rem;
  }

  .navbar-list li img {
    margin-right: 0.9rem;
  }
}
/*make header responsive end */

/* start first sectiion styles*/

.container-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.intro-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 3.5rem;
}

.arrow-first,
.arrow-second {
  background-color: #f5c506;
  opacity: 0.71;
  width: 3.2rem;
  height: 5.7rem;
  position: relative;
  left: 0%;
  cursor: pointer;
}

.arrow-second {
  right: 50%;
}

.arrow-first img,
.arrow-second img {
  position: absolute;
  width: 45%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.arrow-first img:hover,
.arrow-second img:hover {
  animation: animate-icon 5s ease-in-out;
}

@keyframes animate-icon {
  from {
    width: 60%;
  }
  to {
    width: 65%;
  }
}

.video-container-desktop {
  width: 54.9rem;
  height: 32.7rem;
  position: relative;
  right: 14.5%;
}

.play-icon {
  position: absolute;
  left: 48.5%;
  top: 44%;
  z-index: 1;
  cursor: pointer;
}

.play-icon:after {
  content: "";
  background-color: #f5c506;
  width: 6.7rem;
  height: 6.7rem;
  opacity: 0.72;
  border-radius: 50%;
  top: -1.5rem;
  left: -2.8rem;
  position: absolute;
  z-index: -1;
  cursor: pointer;
}

.play-icon:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.play-icon:hover::after {
  -webkit-transform: scaleX(1.1) scaleY(1.1);
  transform: scaleX(1.1) scaleY(1.1);
  opacity: 0.8;
}

.little-play-icon {
  position: absolute;
  left: 7%;
  bottom: 8%;
  z-index: 1;
  cursor: pointer;
}

.little-play-icon:after {
  content: "";
  background-color: #f5c506;
  width: 2.7rem;
  height: 2.7rem;
  opacity: 0.37;
  position: absolute;
  top: -0.5rem;
  left: -1rem;
  z-index: -1;
  cursor: pointer;
}

.line-icon {
  position: absolute;
  height: 1.2rem;
  left: 14%;
  bottom: 9.5%;
  z-index: 1;
  cursor: pointer;
}

.line-icon::after {
  content: "";
  background-color: #f5c506;
  width: 23rem;
  height: 1.2rem;
  opacity: 0.37;
  position: absolute;
  top: 0;
  left: 42%;
  border-radius: 25px;
  z-index: -1;
  cursor: pointer;
}

.volume-icon {
  position: absolute;
  left: 93%;
  bottom: 8.5%;
  cursor: pointer;
}

.title-slider {
  position: absolute;
  right: 10.5%;
}

.title-slider p {
  font-family: "Asap-Regular";
  font-size: 6.305rem;
  text-transform: uppercase;
  font-style: normal;
  color: #fff;
  line-height: 7.566rem;
  text-align: center;
  animation: moveParagraph 1s 0.7s forwards;
}

.title-slider p span {
  color: #f5c506;
  animation: moveParagraph 1s 0.5s forwards;
}

@keyframes moveParagraph {
  0% {
    transform: translateY(40rem) rotateY(-20deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

/*end of first secion styles */

/* make responsive first section */
@media only screen and (max-width: 1224px) {
  .title-slider {
    right: 5%;
  }
  .title-slider p {
    font-size: 5.8rem;
  }
  .video-container-desktop {
    right: 19%;
  }
}
@media only screen and (max-width: 1000px) {
  .title-slider p {
    font-size: 5rem;
  }

  .video-container-desktop {
    right: 17%;
  }
}

@media only screen and (max-width: 936px) {
  .title-slider p {
    font-size: 4rem;
  }

  .arrow-first,
  .arrow-second {
    width: 1.8rem;
    height: 3.7rem;
  }
  .video-container-desktop {
    right: 15%;
  }
}

@media only screen and (max-width: 869px) {
  .title-slider {
    right: 1%;
  }
  .title-slider p {
    font-size: 3rem;
  }
  .video-container-desktop {
    right: 11%;
  }
}

@media only screen and (max-width: 764px) {
  .arrow-first,
  .arrow-second {
    visibility: hidden;
  }
  .title-slider p {
    visibility: hidden;
  }
  .video-container-desktop {
    right: 0%;
  }
}

@media only screen and (max-width: 665px) {
  .arrow-first,
  .arrow-second {
    display: none;
  }
  .title-slider p {
    display: none;
  }
  .video-container-desktop {
    width: 150%;
    top: -11.5rem;
  }
  .video-container-desktop video {
    width: 100%;
    left: -50%;
  }
  .video-container-desktop video[poster] {
    width: 100%;
  }

  .play-icon {
    top: 50%;
  }

  .little-play-icon {
    bottom: -9%;
  }

  .line-icon {
    bottom: -7%;
  }

  .line-icon::after {
    width: 31rem;
    left: 36%;
  }

  .volume-icon {
    bottom: -8.5%;
  }
}

@media only screen and (max-width: 627px) {
  .play-icon {
    top: 40%;
  }
  .little-play-icon {
    bottom: 12%;
  }

  .line-icon {
    bottom: 13.5%;
  }

  .line-icon::after {
    width: 26rem;
    left: 40%;
  }

  .volume-icon {
    bottom: 12%;
  }
}

@media only screen and (max-width: 558px) {
  .line-icon::after {
    width: 20rem;
    left: 40%;
  }
}

@media only screen and (max-width: 506px) {
  .play-icon {
    top: 30%;
  }
  .little-play-icon {
    bottom: 25%;
  }

  .line-icon {
    bottom: 26.5%;
  }

  .volume-icon {
    bottom: 25%;
  }

  .line-icon::after {
    width: 18rem;
    left: 40%;
  }
}

@media only screen and (max-width: 436px) {
  .line-icon::after {
    width: 12rem;
  }
  .play-icon {
    top: 22%;
  }
  .little-play-icon {
    bottom: 40%;
  }

  .line-icon {
    bottom: 42%;
  }

  .volume-icon {
    bottom: 41%;
  }
}

/* end of responsive first section styles */

/* columns section */

.columns-section {
  background-color: rgba(255, 255, 255, 0.4);
  height: 21.2rem;
  width: 100vw;
  position: relative;
  top: 6.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.columns-section div {
  width: 26vw;
}

.better-design {
  margin-left: 10rem;
}

.customize {
  margin-left: -3rem;
  margin-bottom: 2.5rem;
}

.its-free {
  margin-right: 10rem;
  margin-bottom: 2rem;
}

.better-design::before,
.customize::before,
.its-free::after,
.its-free::before {
  content: "";
  height: 21.2rem;
  width: 0.1rem;
  background-color: lightgrey;
  position: absolute;
  right: 11%;
  top: 0rem;
}

.better-design::before {
  right: 89%;
}

.customize::before {
  right: 63%;
}

.its-free::before {
  right: 37%;
}

.columns-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.columns-section div img {
  filter: drop-shadow(0px 5px 0px rgba(185, 148, 1, 0.69));
  cursor: pointer;
}

.columns-section div img:hover {
  transform: rotate3d(1, 1, 1, 30deg);
}
.columns-section div h4 {
  font-family: "SegoeWp Light";
  font-size: 2.705rem;
  text-align: center;
  line-height: 3.246rem;
  color: #000000;
  margin-top: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.columns-section div h4:hover {
  transform: rotate(-5deg);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 5deg;
  }
}

/* columns section end */

/* make column section responsive */

@media only screen and (max-width: 1187px) {
  .columns-section {
    top: 4.7rem;
  }
}

@media only screen and (max-width: 862px) {
  .columns-section {
    top: 7.5rem;
  }
  .columns-section div h4 {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 761px) {
  .better-design {
    margin-right: 8rem;
  }

  .customize {
    margin-right: 5rem;
  }

  .columns-section div h4 {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 666px) {
  .columns-section {
    height: 17.9rem;
    background: url("./assets/images/Layer.png");
    top: -8rem;
  }

  .customize,
  .its-free {
    margin-top: 3rem;
  }

  .columns-section div img {
    width: 8.9rem;
    height: 6.1rem;
  }

  .columns-section div h4 {
    font-weight: normal;
    font-size: 2.305rem;
    line-height: 2.766rem;
  }
  .better-design::before,
  .customize::before,
  .its-free::after,
  .its-free::before {
    visibility: hidden;
  }

  .better-design {
    margin-left: 0rem;
  }

  .its-free {
    margin-right: 0rem;
    margin-bottom: 1.8rem;
  }
}

@media only screen and (max-width: 643px) {
  .columns-section {
    top: -8.7rem;
  }
}

@media only screen and (max-width: 627px) {
  .columns-section {
    top: -12rem;
  }
}

@media only screen and (max-width: 594px) {
  .columns-section div h4 {
    font-size: 1.8rem;
  }

  .columns-section div img {
    width: 7rem;
  }
}

@media only screen and (max-width: 573px) {
  .columns-section {
    margin-top: -3.5rem;
  }
  .its-free {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 505px) {
  .columns-section {
    margin-top: -7.5rem;
  }

  .columns-section div h4 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 436px) {
  .columns-section {
    margin-top: -11.5rem;
  }
  .columns-section div h4 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 374px) {
  .columns-section {
    margin-top: -12.5rem;
  }
}

/* end of column responsive section */

/* start article section styles */
.news {
  width: 100vw;
  height: 50.9rem;
  background: url("./assets/images/bg-section.png");
  display: flex;
  justify-content: center;
  margin-top: 5vw;
  align-items: flex-start;
}

.news-block {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.news-block .heading {
  margin-top: 4rem;
  width: 91.822rem;
  height: 17.94rem;
  font-family: PTSans-Regular;
  font-weight: normal;
  font-size: 3.705rem;
  letter-spacing: 0.01em;
  line-height: 4.446rem;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}

.three-column {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-left: -30vw;
  margin-top: -10rem;
}

.paragraph {
  width: 34.1rem;
  height: 23.3rem;
  background: url("./assets/images/p-bg.png");
  padding: 2rem 3rem 2rem 3rem;
  position: relative;
}

.paragraph p {
  width: 100%;
  height: 100%;
  font-family: SegoeWP-Light;
  font-weight: normal;
  font-size: 2.905rem;
  letter-spacing: 0.01em;
  line-height: 3.8rem;
  text-align: left;
  color: #fff;
}

.plus {
  font-size: 2.5rem;
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  color: #fff;
  font-family: fantasy;
  cursor: pointer;
}

.plus:hover {
  transform: scale3d(1.3, 1.3, 1.3);
}

.video {
  width: 31.5rem;
  height: 23rem;
  background: transparent;
  position: relative;
  margin-left: 0rem;
  bottom: -0.7%;
}

.video .bg {
  background: #f5c506;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6.1rem;
  height: 6.1rem;
  border-radius: 50%;
  opacity: 0.72;
  cursor: pointer;
}

.video .article-play-icon {
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
  cursor: pointer;
}

.video .bg:hover {
  opacity: 0.5;
  width: 6.5rem;
  height: 6.5rem;
}

.video-mobile {
  visibility: hidden;
}

.twitter {
  width: 329px;
  height: 233px;
  background: url("./assets/images/twitter-bg.png");
  margin-left: 3rem;
  position: relative;
}

.number {
  font-family: SegoeWP-Light;
  font-weight: normal;
  font-size: 2.505rem;
  letter-spacing: 0.01em;
  line-height: 3.8rem;
  text-align: right;
  color: #fff;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.twitter img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.date {
  position: absolute;
  bottom: -8.6rem;
  left: 0rem;
  width: 11.3rem;
  height: 8.6rem;
  background: url("./assets/images/date-bg.png");
}

.date h2 {
  font-family: "SegoeWP-bold";
  font-weight: 700;
  font-size: 5.105rem;
  letter-spacing: 0.01em;
  line-height: 3.8rem;
  text-align: center;
  color: #fff;
  margin-top: 1.2rem;
}

.date h3 {
  font-family: "SegoeWp";
  font-weight: normal;
  font-size: 2.105rem;
  letter-spacing: 0.01em;
  line-height: 3.8rem;
  text-align: center;
  color: #b26529;
  text-transform: uppercase;
}

.slider {
  width: 89.6rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  background: #fff;
  opacity: 0.48;
  position: relative;
  margin-top: 12rem;
}

.small-line {
  width: 19.7rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  background: #ec9e03;
  position: absolute;
  animation: move-line 10s infinite;
}

@keyframes move-line {
  0% {
    left: 0%;
  }
  50% {
    left: 78%;
  }
  100% {
    left: 0%;
  }
}
/* and article section styles */

/* make news section responsive */
@media only screen and (max-width: 2000px) {
  .news {
    margin-top: 3.2vw;
  }

  .news-block {
    margin-left: 35%;
  }

  .slider {
    left: -3%;
  }
}

@media only screen and (max-width: 1861px) {
  .news {
    margin-top: 3.5vw;
  }
}

@media only screen and (max-width: 1761px) {
  .news {
    margin-top: 3.8vw;
  }
}

@media only screen and (max-width: 1602px) {
  .news {
    margin-top: 6.9rem;
  }

  .news-block {
    margin-left: 30%;
  }

  .slider {
    left: -10%;
  }
}

@media only screen and (max-width: 1338px) {
  .news {
    margin-top: 6.7rem;
  }

  .slider {
    margin-left: -8%;
  }

  .news-block .heading {
    margin-left: -20%;
  }
}

@media only screen and (max-width: 1186px) {
  .news {
    margin-top: 4.3vw;
  }
}

@media only screen and (max-width: 1063px) {
  .twitter {
    width: 25rem;
    margin-left: 0rem;
  }

  .slider {
    left: 9%;
    width: 70rem;
  }

  .news-block .heading {
    margin-left: -15%;
  }

  .small-line {
    width: 15rem;
  }
}

@media only screen and (max-width: 914px) {
  .news {
    margin-top: 4rem;
  }
  .news-block {
    width: 70vw;
  }
  .twitter {
    visibility: hidden;
    display: none;
  }

  .slider {
    left: -1%;
    width: 60rem;
  }
  .small-line {
    width: 13rem;
  }
}

@media only screen and (max-width: 861px) {
  .news {
    margin-top: 7.5rem;
  }
}

@media only screen and (max-width: 798px) {
  .slider {
    margin-left: -29%;
  }
}

@media only screen and (max-width: 666px) {
  .news {
    background: none;
    margin-top: 2rem;
  }

  .heading {
    visibility: hidden;
    display: none;
  }

  .date {
    visibility: hidden;
    display: none;
  }

  .slider {
    visibility: hidden;
    display: none;
  }

  .video {
    margin-left: 0.5rem;
  }

  .three-column {
    flex-wrap: wrap;
    height: 100%;
  }

  .paragraph {
    width: 50%;
  }
  .video .video-desk[poster] {
    width: 100%;
    height: 100%;
  }

  .video {
    width: 49%;
    height: 100%;
  }
  /*
  video {
    max-width: 100%;
    height: 100%;
  } */
}

@media only screen and (max-width: 621px) {
  .paragraph {
    height: 22rem;
  }

  .news {
    margin-top: -1rem;
  }
}

@media only screen and (max-width: 589px) {
  .paragraph {
    height: 21rem;
  }
}

@media only screen and (max-width: 558px) {
  .paragraph {
    height: 20rem;
  }

  .news {
    margin-top: -1rem;
  }
}

@media only screen and (max-width: 525px) {
  .paragraph {
    height: 19rem;
  }
}

@media only screen and (max-width: 498px) {
  .paragraph {
    width: 49%;
  }
}

@media only screen and (max-width: 465px) {
  .paragraph {
    height: 18rem;
  }

  .news {
    margin-top: -1.5rem;
  }
}

@media only screen and (max-width: 433px) {
  .paragraph {
    height: 15rem;
  }
}

/* news end */

/* start chat section styles */
.chat {
  background: url("./assets/images/chat-bg.png");
  width: 100%;
  height: 23.3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 66.6rem;
  visibility: hidden;
  display: none;
}

.twitter-chat {
  width: 15.805rem;
  height: 13.299rem;
}

.conversation {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.message {
  width: 27.5rem;
  height: 4.2rem;
  border-radius: 1rem;
  background: #fff;
  padding-left: 1rem;
  padding-top: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0);
}

.message p {
  font-family: ArialMT;
  font-weight: normal;
  font-size: 1.305rem;
  letter-spacing: 0.01em;
  line-height: 1.566rem;
  text-align: left;
  color: #8f8e8e;
}

.dfopacity {
  opacity: 0.6;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: ArialMT;
  font-weight: normal;
  font-size: 1.505rem;
  letter-spacing: 0.01em;
  line-height: 1.806rem;
  text-align: center;
}

form input[type="text"] {
  width: 27rem;
  height: 2.9rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}

form input[type="submit"] {
  position: absolute;
  width: 6.9rem;
  height: 2.9rem;
  background-color: #e7a828;
  color: #fff;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  cursor: pointer;
  border: 0;
  padding: 0;
  font: inherit;
  right: 0%;
}
/*end chat section styles */

/*make chat serction responsive */
@media only screen and (max-width: 666px) {
  .chat {
    visibility: visible;
    display: flex;
    margin-top: -36rem;
  }
}

@media only screen and (max-width: 600px) {
  .chat {
    margin-top: -40rem;
  }
  .paragraph p {
    font-size: 2.3rem;
    margin-top: -2.5rem;
  }
}

@media only screen and (max-width: 499px) {
  .chat {
    margin-top: -41.5rem;
  }
  .paragraph p {
    font-size: 2.05rem;
  }
}

@media only screen and (max-width: 437px) {
  .chat {
    width: 100vw;
    margin-top: -43rem;
  }

  .paragraph p {
    font-size: 1.8rem;
  }
  .message {
    width: 23rem;
  }
  form input[type="text"] {
    width: 23rem;
  }
}

@media only screen and (max-width: 390px) {
  .chat {
    margin-top: -45rem;
  }
  .message {
    width: 20rem;
  }
  form input[type="text"] {
    width: 20rem;
  }
  .paragraph p {
    font-size: 1.3rem;
  }
}
/* end of responsive chat */

/* start of grey section styles */

.grey-section {
  width: 100vw;
  height: 49.9rem;
  background: url("./assets/images/grey-section-bg.png");
  display: flex;
  justify-content: center;
}

.grey-section-block {
  display: flex;
  flex-direction: column;
}

.grey-section-block h1 {
  width: 91.822rem;
  height: 18.74rem;
  font-family: PTSans-Regular;
  font-weight: normal;
  font-size: 4.305rem;
  letter-spacing: 0.01em;
  line-height: 5.166rem;
  text-align: center;
  color: #f5c506;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-left: 6rem;
}

.two-column {
  display: flex;
  margin-top: -20rem;
}

.technics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 4rem;
}

.computer {
  position: relative;
  width: 32.3rem;
  height: 25.5rem;
}

.computer img {
  width: 100%;
  height: 100%;
}

.sale {
  width: 11.6rem;
  height: 11.6rem;
  background: #f5c506;
  border-radius: 50%;
  position: relative;
  top: 17%;
  left: -4%;
}

.sale p {
  font-family: PTSans-NarrowBold;
  font-weight: normal;
  font-size: 1.874rem;
  letter-spacing: 0.01em;
  line-height: 2.249rem;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 1.7%;
  transform: translateY(-50%);
}

.planshet {
  width: 12.9rem;
  height: 17.3rem;
  margin-top: 15.7rem;
  margin-left: 3rem;
}

.planshet img {
  width: 100%;
  height: 100%;
}

.mobile {
  width: 3.9rem;
  height: 6.3rem;
  margin-top: 26.5rem;
  margin-left: 3rem;
}

.mobile img {
  width: 100%;
  height: 100%;
}

.bullets {
  margin-left: 5rem;
  margin-top: 15rem;
  display: flex;
}

.bullets ul li {
  width: 35.168rem;
  height: 6rem;
  font-family: "OpenSans";
  font-weight: normal;
  font-size: 2.2rem;
  letter-spacing: 0.01em;
  line-height: 2.64rem;
  text-align: left;
  color: #a9a9a7;
  list-style-type: disc;
  position: relative;
}

.bullets ul li::before {
  content: "";
  color: #f5c506;
  font-weight: bold;
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  background-color: #f5c506;
  border-radius: 50% 50% 50% 50%;
  top: 9%;
  left: -6%;
}

/* end of grey section styles */

/* make grey section responsive */

@media only screen and (max-width: 1033px) {
  .two-column {
    margin-top: -5rem;
  }
  .computer {
    width: 26rem;
    height: 19rem;
    margin-left: 7rem;
  }

  .planshet {
    margin-left: 0.5rem;
    width: 8rem;
    height: 13rem;
    margin-top: 13rem;
  }

  .mobile {
    margin-left: 0.5rem;
    width: 3rem;
    height: 4.5rem;
    margin-top: 20.5rem;
  }

  .sale {
    width: 9rem;
    height: 9rem;
    top: 20%;
  }

  .sale p {
    font-size: 1.5rem;
  }

  .bullets {
    margin-top: 5rem;
  }
  .bullets ul li {
    width: 30rem;
    font-size: 2.1rem;
  }

  .bullets ul li::before {
    top: 10%;
    left: -7%;
  }
}

@media only screen and (max-width: 785px) {
  .two-column {
    margin-top: -10rem;
  }
  .computer {
    margin-left: 10rem;
  }

  .bullets {
    margin-left: 0rem;
  }

  .bullets ul li {
    width: 25rem;
    font-size: 2rem;
    margin-top: 1.5rem;
  }

  .grey-section-block h1 {
    margin-left: 1rem;
  }
  .bullets ul li::before {
    left: -8%;
  }

  .sale {
    left: 1%;
  }
}

@media only screen and (max-width: 666px) {
  .bullets {
    visibility: hidden;
    display: none;
  }

  .technics {
    margin-left: 8%;
  }

  .computer {
    width: 32.3rem;
    height: 25.5rem;
  }

  .planshet {
    margin-left: 2rem;
    width: 8rem;
    height: 13rem;
    margin-top: 18.6rem;
  }

  .mobile {
    margin-left: 2rem;
    width: 3rem;
    height: 4.5rem;
    margin-top: 26rem;
  }

  .sale {
    left: -10%;
  }

  .grey-section-block h1 {
    width: 75rem;
    height: 13.74rem;
    font-family: "openSans";
    font-size: 3.9rem;
  }
}

@media only screen and (max-width: 601px) {
  .grey-section-block h1 {
    width: 70rem;
    height: 10rem;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .technics {
    margin-left: 5%;
  }
}

@media only screen and (max-width: 504px) {
  .computer {
    width: 26rem;
    height: 19rem;
  }

  .planshet {
    margin-left: 0rem;
    width: 8rem;
    height: 13rem;
    margin-top: 13rem;
  }

  .mobile {
    margin-left: 0.4rem;
    width: 3rem;
    height: 4.5rem;
    margin-top: 20.5rem;
  }

  .technics {
    margin-left: 9%;
    margin-top: 8%;
  }

  .grey-section-block h1 {
    font-size: 2rem;
  }

  .sale {
    width: 6rem;
    height: 6rem;
    left: 5%;
  }

  .sale p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 373px) {
  .planshet {
    margin-left: -1rem;
  }

  .mobile {
    margin-left: 0rem;
  }

  .technics {
    margin-left: 10%;
  }
}

/*make grey section responsive */
