* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

html {
    /* 1rem = 16px, if font-size is 62.5%, 1rem = 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
    background-image: url("./assets/images/background.png");
    background-size: 100% 566px;
    background-repeat: no-repeat;
}